:root {
	--primary: hsla(211,50%,53%,1);
  --primarylight: hsla(211,50%,53%,0.6);
  --primarydark: hsla(211,58%,43%,1);
	--white: #ffffff;
  --white10: hsla(0,0%,100%,0.1);
  --white50: hsla(0,0%,100%,0.5);
  --white80: hsla(0,0%,100%,0.8);
	--background: #FFF0EB;
	--red: #D90000;
  --text: #333;
  --black: hsla(0,0%,0%,1);
  --black40: hsla(0,0%,0%,0.4);
  --black80: hsla(0,0%,0%,0.8);
  --mattblack: #191C20;
  --green: hsla(144, 80%, 22%, 1);
}


/* encode-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('https://jamestaylorsolicitor.b-cdn.net/encode-sans-condensed-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://jamestaylorsolicitor.b-cdn.net/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('https://jamestaylorsolicitor.b-cdn.net/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html { 
scroll-behavior: smooth; 
}
  

img, svg, video {max-width: 100%;display: block;}

a img {border: 0;}

a {
  line-height: inherit;
  color: var(--primarydark);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted var(--black);
}

a:hover {
  color: var(--white);
  border: none;
background: var(--primary);
border-bottom: 1px solid var(--black);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary);
  text-rendering: optimizeLegibility;
  margin:0 0 0.75rem;padding:0;
  text-wrap: balance;
}

.largetext {font-size: 200%;}



.h1, h1 {
  font-size: calc(2rem + 1vw); 
  }
  
.h2, h2 {
  font-size: calc(1.6rem + 1vw); 
}


.h3, h3 {
  font-size: calc(1.2rem + 1vw); 
}


.h4, h4 {
  font-size: calc(1rem + 1vw); 
}

p {font-family: 'Open Sans', sans-serif;
font-style: normal;
  font-weight: normal;
  color: var(--text);
  text-rendering: optimizeLegibility;
font-size: 1rem;
line-height: 1.5rem;}

.container {background: white; }

.content {
  position: relative;
  margin: 0 auto;
  padding: 1rem 1rem 3rem;
  z-index: 2;
  max-width: 1280px;
  background-color: var(--white);
  min-height: 400px;
  }
  

.home .content {
margin: 0 auto;}

@media (max-width: 1279px) {
.home .content {
       
  margin: 1vh auto 0 auto;}

     
      }
      @media (max-width: 500px) {
        .home .content {
               
          margin: 100px auto 0 auto;}
        
             
              }


.caption-text { 
 margin:0;
 display: block;
position:absolute;
 top: -104px;
right: 0;
         
  
        }
  .caption-text h1 {  
    color: var(--white);
    background: var(--black80);
    padding: 1rem;
    font-size: calc(2rem + 1vw);
 margin:0; }

    .caption-text h2 {  
      color: var(--white);
      background: var(--black80);
      padding: 0 1rem 1rem;
      font-size: calc(1.8rem + 1vw); 
      margin:0; }

  @media screen and (max-width: 767px) {
  .caption-text {
    position:absolute;
    display:block;
    top: -108px;
     right: auto;
     left: 0;
   }

   .caption-text h1 {  
    color: var(--white);
    background: var(--black80);
    padding: 0.5rem;
    font-size: calc(2rem + 1vw);
 margin:0; }

    .caption-text h2 {  
      color: var(--white);
      background: var(--black80);
      padding: 0 0.5rem 0.5rem;
      font-size: calc(1.8rem + 1vw); 
      margin:0; }

}

@media screen and (max-width: 500px) {
  .caption-text {
    position:absolute;
    display:block;
    width: 100%;
    top: 200px;
     right: auto;
     left: 0;
   }

}
        .headerwrapper {
          display: grid;
          grid-template-columns: 120px 1fr;
          grid-template-areas:
            "hamburger logo";
            grid-template-rows: 44px;
   }  
   @media only screen and (min-width: 1025px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 120px 280px 1fr 50px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: 54px; } 
  
      .headerwrapper.scrolled {
      grid-template-rows: 44px; } 
  }
   
   @media only screen and (min-width: 1500px) {  
    .headerwrapper {
    display: grid;
    grid-template-columns: 120px 360px 1fr 50px;
    grid-template-areas:
      "hamburger logo navwrapper socialwrapper";
      grid-template-rows: 54px; } 
  
   
  }
    
.hamburger { grid-area: hamburger; }
      .logo { grid-area: logo; }
      .navwrapper { grid-area: navwrapper;padding-left: 2rem;}
      .socialwrapper { grid-area: socialwrapper; }
      
        
      .close, .closed {
        text-align: right;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: 0rem;
        right:1rem;
        cursor:pointer;
        float:right;
      }
      @media screen and (min-width: 1025px) {
        .logo img {max-width:260px;
          -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;}
      .scrolled .logo img {max-width:220px;
          -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;}
      
      }


@media screen and (min-width: 1500px) {
        .logo img {max-width:320px;
          -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;}
      .scrolled .logo img {max-width:280px;
          -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;}
      
      }
            

@media screen and (max-width: 1025px) {
.navwrapper, .socialwrapper {
display: none;
}
.logo {position:absolute;right:0;text-align: right;}
.logo img {max-width:auto;
max-height:60px;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;}
.scrolled .logo img {max-width:auto;  max-height:50px;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;}
}


.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 1025px) {
.offcanvas {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}}

.offcanvas.open {
  left: 0;
}

.offcanvas h3 {
  color: var(--white);
  text-align: left;
  padding-left: 1rem;
  background: var(--primary);
  height: 64px;
  line-height: 64px;
  margin: 0 0 2px 0;
  font-size: 1.5rem;
}


.toggle-nav {
  display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  width: auto;
  height: 44px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:10px;
 }
 @media screen and (max-width: 1025px) {
  .toggle-nav {
  display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  width: auto;
  height: 34px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:5px;
 }

 .scrolled .toggle-nav {
  display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  width: auto;
  height: 34px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:5px;
}


}

  .scrolled .toggle-nav {
    display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
   background: transparent;
  border: none;
  width: auto;
  height: 34px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:5px;
}


.hamburger-icon:before {
  content: "";
  display:block;
    position:fixed;
    width: 24px;
    height: 4px;
    margin:0px;
    background: var(--white);
    box-shadow: 0 8px 0 0 var(--white), 0 16px 0 0 var(--white);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}


span.title-bar-title {display:block;text-indent:34px;padding:0;}




.toggle-nav:focus {
  outline: none;
}


.toggle-nav:hover {
  background-color: var(--primary);
  color: var(--white);
}

.button {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  margin-bottom: 0px;
  border: none;
  padding:0.5rem 2rem;
}

.button:focus, .button:hover {
  background-color: var(--black);
  color: var(--white);
}
button.success, .button.success {
  background-color: var(--primarylight);
  border-width: 0.1rem;
  border-color: var(--primary);
  color: var(--white);
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration:none;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: var(--primary);
  color: var(--white);
  border-width: 0.1rem;
  border-color: var(--white);
}



button.close-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--white);
  border-width: 0.1rem;
  border-color: var(--primary);
  padding: 0.5rem;
  text-decoration:none;
}
button.close-nav:hover, button.close-nav:focus, .button.close-nav:hover, .button.close-nav:focus {
  background-color: var(--black);
  color: var(--white);
  border-width: 0.1rem;
  border-color: var(--white);
}

button.blogdetail, .button.blogdetail {margin:0;}

.hide {
  display: none;
}
.topbar {
  position: fixed;
  background-color: rgba(0,0,0,0.30);
  width: 100%;
  padding: 0;
  top: 0px;
  z-index: 3;
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}

@media (max-width: 500px) {
  .topbar {
    position: fixed;
    background-color: rgba(0,0,0,0.70);}
  }

.topbar.scrolled {
  background-color: var(--black80);
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}



ul, ul.menusocial, ul.main-menu, ul.footer-menu {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
ul.main-menu li {
  float: left;
}
ul.menusocial li {
  float: right;
  margin:0 1rem 0 0;
}
.main-menu > li {
    display: inline-block;
    padding: 0;
    margin:0;
    border: none;
    position: relative;
    left: 0;
    width: 160px;
    text-align: center;
}

@media screen and (max-width: 1200px) {

.main-menu > li {
width: 120px;
}
}


.main-menu > li.hide {
    display: none;
}


.main-menu > li > a {
  padding: 0;
  line-height: 48px;
  font-size: 1.2rem;
  color: var(--white);
text-decoration: none;
font-weight: 400;
cursor: pointer;
display: block;
position: relative;
border-bottom: 2px solid transparent;
background-color: transparent;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.main-menu > li > a:hover {
  line-height: 48px;
  color: var(--white);
  background-color: transparent;
  border-bottom: 6px solid var(--white);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.main-menu > li.current > a, .main-menu > li.active-class > a {
  color: var(--white);
  background-color: transparent;
  border-bottom: 6px solid var(--white);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}



.scrolled .main-menu > li > a {
  line-height: 38px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  border-bottom: 6px solid transparent;
}

.scrolled .main-menu > li > a:hover {
  line-height: 38px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--white);
  background-color: var(--black);
  border-bottom: 6px solid var(--primary);
}
.scrolled .main-menu > li.current > a, .scrolled .main-menu > li.active-class > a {
   color: var(--white);
   background-color: var(--black);
  border-bottom: 6px solid var(--primary);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

ul.footer-menu li {
  float: left;
}
.footer-menu > li {
  display: inline-block;
  padding:0;
  margin: 0;
  border: none;
  position: relative;
  left: 0;
  width: 120px;
  text-align: left;
  font-size: 1rem;
}

.footer-menu > li > a {
  padding: 0.5rem 1rem;
  height:36px;
  line-height: 36px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--primary);
  background-color: transparent;
  border:none;
  width: 120px;
 
}

.footer-menu > li > a:hover {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--white);
  background-color: var(--primary);
  border:none;
  width: 120px;
}
.footer-menu > li.current > a, .footer-menu > li.active-class > a {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  color: var(--white);
  background-color: var(--primary);
  border:none;
  width: 120px;
}



@media (max-width: 767px) {
  .footer-menu > li {
    width: 80px;
    text-align: center;
    font-size: 1rem;
  }
  .footer-menu > li > a {
    padding: 0.5rem;
  }
}


.menusocial > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    right: 0;
    width: 2rem;
    text-align: center;
}



.menusocial > li > a {
  padding: 0;
  line-height: 54px;
  font-size: 2.4rem;
  width:34px;
  height:34px;
text-decoration: none;
font-weight: 700;
cursor: pointer;
display: block;
position: relative;
border-bottom: none;
background-color: var(--white);
margin:10px 0;
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;

}



.menusocial > li > a:hover {
  background-color: #4267B2;
  border-bottom: none;
  transition: all 0.3s;
}




.scrolled .menusocial > li > a {
  line-height: 44px;
  width:34px;
  height:34px;
text-decoration: none;
font-weight: 700;
cursor: pointer;
display: block;
position: relative;
border-bottom: none;
background-color: var(--white);
margin:5px 0;
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.scrolled .menusocial > li > a:hover {
 
  background-color: #4267B2;
  border-bottom: none;
  transition: all 0.3s;
}
 {
  color: var(--white);
  text-align: left;
  padding-left: 1rem;
  background: var(--primary);
}

.mobilemenu {padding:0 0 1rem;}
ul.off-canvas-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.off-canvas-list li a {
  border-bottom: 1px solid #e6e6e6;
  color: var(--white);
  display: block;
  padding: 0.75rem;
  transition: background 300ms ease;
  background: #3A3A3A;
}
ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {
  color: #191C20;
  background: var(--primary);
  font-weight: bold;
}

ul.off-canvas-list > li.current > a, ul.off-canvas-list > li.active-class > a {
  color: var(--white);
  background-color: var(--primary); font-weight: bold;}

  .hero {height: 400px;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/james-taylor-solicitor-services.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;background-color: var(--black);}

  .contact .hero {height: 400px;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/james-taylor-solicitor-contact.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;background-color: var(--black);}

.home .hero{height: 100svh;height: 100vh;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/bathurst-courthouse-1600x900.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;background-color: var(--black);}

  @media (max-width: 1279px) {
    .home .hero  {height: 60svh;height: 60vh;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/bathurst-courthouse-1600x900.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;}
  }
  @media (max-width: 500px) {
    .home .hero  {height: 400px;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/bathurst-courthouse-600x400.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;}

    .hero {height: 400px;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/jamestaylorbathurstsolictor-mobile-header-600x400-2.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;background-color: var(--black);}

    .contact .hero {height: 400px;background: url(https://ik.imagekit.io/webtactics/jamestaylorsolicitor/img/jamestaylorbathurstsolictor-mobile-header-600x400-3.jpg) no-repeat center center;width:100%; background-size:cover;position: relative;background-color: var(--black);}

  }





 





  
      .footernavwrapper {
        background-color: var(--black);height:36px;
      }
        .footernav {
        margin: 0 auto;
        padding: 0;
        max-width: 1280px;
        }
  



.footer {
  background-color: var(--primary);
  padding: 1rem 0;
  z-index: 4;
}
.footerwrap {max-width:1280px;margin:0 auto;padding:1rem;
color: var(--white);
font-size: 1rem;
text-align: center;
}
.footerwrap p {
  color: var(--white);
  font-size: 1rem;
  
}
.footerwrap p a {
  color: var(--white);
  border-bottom: 1px dotted var(--white);
  padding: 0 0.25rem;

}
.footerwrap p a:hover {
  background: #ebebeb;
  color: #000000;
  border-bottom: 1px solid #1468a0;
}



[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1025px) {
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}}

@media (max-width: 1024px) {
.grid-3-columns {
  grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 600px) {
.grid-3-columns {
  grid-template-columns: repeat(1, 1fr);
  }
}

.grid-2-columns-2x1 {
grid-template-columns: 2fr 1fr;}

@media (max-width: 1024px) {
  .grid-2-columns-2x1 {
    grid-template-columns: 1fr;
  }
  }

.grid-detailpage-sidebar-summary {
  grid-template-columns: 1fr 3fr;}


    
    





.right {float:right;text-align:right;}

.imageright {
  float: right;
  padding: 0 0 1rem 1rem;
}

@media (max-width: 500px) {

  .imageright {
    float: none;
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin:0 auto 1rem auto;
    border:1px solid var(--black);
  }
  .imageright img {margin:0 auto;}

  .hidesmall {display:none;}

}

figure {
  margin: 0;
}

figcaption {
  font-size: 80%;
  line-height: 120%;
  color: var(--white);
  background: var(--black);
  padding: 0.5rem;
  text-align: center;
  max-width: auto;
  margin:0 auto;
}

.responsive-embed{position:relative;height:0;margin:2rem 0;padding-bottom:75%;overflow:hidden}.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video,.responsive-embed embed,.responsive-embed iframe,.responsive-embed object,.responsive-embed video{position:absolute;top:0;left:0;width:100%;height:100%}.flex-video.widescreen,.responsive-embed.widescreen{padding-bottom:56.25%}



.scrollToTop {
  display: block;
  display: none;
  z-index: 999;
  opacity: 1;
  position: fixed;
  right: 20px;
  bottom: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  background: #000000 url(https://ik.imagekit.io/webtactics/gtm/assets/to-top_pZCu6b8pa.png?updatedAt=1683952481082) no-repeat center center;
  text-indent: -9999px;
}
.scrollToTop:hover {
  padding: 0;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  background: #000000 url(https://ik.imagekit.io/webtactics/gtm/assets/to-top_pZCu6b8pa.png?updatedAt=1683952481082) no-repeat center center;
  text-indent: -9999px;
}
