<section class="footer">
<div class="footerwrap">

    <p>James Taylor Bathurst Solicitor can be contacted at work on <a title="Call James Taylor Bathurst Solicitor" href="tel:+61263382600">02 6338 2600</a>, email <a title="jtaylorsolicitor@gmail.com" href="mailto:jtaylorsolicitor@gmail.com">jtaylorsolicitor@gmail.com</a> or outside work hours on his mobile <a title="Call James Taylor Bathurst Solicitor" href="tel:+61400316661">0400 316 661</a> for any urgent matters.</p>

<p>James Taylor Bathurst Solicitor is located at:<br><a title="James Taylor Bathurst Solicitor" href="https://goo.gl/maps/AKCWCajta7AGMqVo9" target="_blank" rel="noopener">103 Piper Street Bathurst NSW 2795</a></p>
<p>Mail: PO Box 2153 Bathurst NSW 2795<br>
Ph: <a title="Call James Taylor Bathurst Solicitor" href="tel:+61263382600">02 6338 2600</a><br>
Fax: 02 6338 2699<br>
Mobile: <a title="Call James Taylor Bathurst Solicitor" href="tel:+61400316661">0400 316 661</a><br>
Email: <a title="jtaylorsolicitor@gmail.com" href="mailto:jtaylorsolicitor@gmail.com">jtaylorsolicitor@gmail.com</a><br>
Website: www.jamestaylorsolicitor.com.au</p>


<a class="scrollToTop" style="display: inline;" href="#">Scroll To Top</a>
</div>
</section>

