<section class="footer">
<div class="footerwrap">
103 Piper Street Bathurst NSW 2795
PO Box 2153 Bathurst NSW 2795
Ph: 02 6338 2600
Fax: 02 6338 2699
Mobile: 0400 316 661
jtaylorsolicitor@gmail.com
www.jamestaylorsolicitor.com.au


<a class="scrollToTop" style="display: inline;" href="#">Scroll To Top</a>
</div>
</section>

