<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | James Taylor Bathurst Lawyer" id="logo">
<img src="https://ik.imagekit.io/webtactics/jamestaylor/jamestaylorsolicitor-logo-404x140_YyD-VNf-W.jpg?updatedAt=1691277702603" alt="James Taylor Bathurst Lawyer" title="James Taylor Bathurst Lawyer" width="408px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
{% include "components/global/phone.html" %}
</ul>
</div>
</header>