<section class="sliderbox hide-for-print">
<div class="herodetail" style="background: url( {{ image }}/tr:w-600,h-400 alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" ></div>
</section>
