<section class="sliderbox">
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/jamestaylor//tr:w-600,h-800/2000x400/james-taylor-solicitor-services_tl9s4s4BO.jpg?updatedAt=1691106375634">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/jamestaylor//tr:w-1400,h-500/2000x400/james-taylor-solicitor-services_tl9s4s4BO.jpg?updatedAt=1691106375634">
<img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/webtactics/jamestaylor//tr:w-1400,h-500/2000x400/james-taylor-solicitor-services_tl9s4s4BO.jpg?updatedAt=1691106375634" alt="PrestigePro Property Services" title="PrestigePro Property Services"  width="1400" height="500">
</picture>
</div>
</section>
