 {% set navPages = collections.all | eleventyNavigation %}
  
  {% macro renderNavListItem(entry) -%}
    {% set isParent = entry.children.length > 0 %}
    <li{% if entry.url == page.url %} class="active-class"{% endif %}
        {% if isParent %} class="parent"{% endif %}>
      <a href="{{ entry.url }}">{{ entry.title }}</a>

      {% if isParent %}
  <ul class="second">
          {% for child in entry.children %}{{ renderNavListItem(child) }}{% endfor %}
        </ul>
      {% endif %}
    </li>
  {%- endmacro %}
  
<ul class="off-canvas-list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>

