{% set isChildActive = false %}
{% if entry.url == currentPageUrl %}
  {% set isChildActive = true %}
{% endif %}
{% for child in entry.children %}
  {% if isChildActive %}
    {% set _ = isChildActive or (child.url == currentPageUrl) %}
  {% else %}
    {% set isChildActive = child.url == currentPageUrl %}
  {% endif %}
  {% include '_includes/components/nav-item.njk' with { entry: child, currentPageUrl: currentPageUrl, isChildActive: isChildActive } %}
{% endfor %}

<li{% if entry.url == currentPageUrl or (entry.children.length > 0 and isChildActive) %} class="{% if entry.url == currentPageUrl %}active-class{% endif %}{% if entry.children.length > 0 and isChildActive %} parent{% endif %}">
  <a href="{{ entry.url }}">{{ entry.title }}</a>

  {% if entry.children.length > 0 and isChildActive %}
    <ul class="second-level">
      {% for child in entry.children %}
        {% include '_includes/components/nav-item.njk' with { entry: child, currentPageUrl: currentPageUrl, isChildActive: false } %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
