<nav class="childlist">
  {% set navPages = collections.all | eleventyNavigation %}
  
  {% macro renderNavListItem(entry) -%}
    {% set isParent = entry.children.length > 0 %}
    {% set hasActiveChild = false %}
    
    {# Check if any child is active #}
    {% for child in entry.children %}
      {% if child.url == page.url or child.children | hasActiveChild %}
        {% set hasActiveChild = true %}
      {% endif %}
    {% endfor %}
    
    <li{% if entry.url == page.url %} class="active-class"{% endif %}
        {% if isParent and hasActiveChild %} class="parent"{% endif %}>
      <a href="{{ entry.url }}">{{ entry.title }}</a>

      {% if isParent %}
        <ul class="second-level">
          {% for child in entry.children %}{{ renderNavListItem(child) }}{% endfor %}
        </ul>
      {% endif %}
    </li>
  {%- endmacro %}
  
  <ul class="main-menu">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>
</nav>
