{% set isParent = entry.children.length > 0 %}
{% set childIsActive = entry.url == currentPageUrl or isParent and entry.children | map('url') | contains(currentPageUrl) %}

<li{% if childIsActive %} class="{% if entry.url == currentPageUrl %}active-class{% endif %}{% if isParent %} parent{% endif %}"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>

  {% if isParent and childIsActive %}
    <ul class="second-level">
      {% for child in entry.children %}
        {% include '_includes/components/nav-item.njk' with { entry: child, currentPageUrl: currentPageUrl } %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
