  {% set navPages = collections.all | eleventyNavigation %}
  
  {% macro hasActiveChild(entry) -%}
    {% if entry.url == page.url %}
      {% set _ = activeEntries.append(entry) %}
    {% endif %}
    {% for child in entry.children %}
      {% if hasActiveChild(child) %}
        {% set _ = activeEntries.append(child) %}
      {% endif %}
    {% endfor %}
  {%- endmacro %}
  
  {% macro renderNavListItem(entry) -%}
    {% set isParent = entry.children.length > 0 %}
    {% set activeEntries = [] %}
    {% if hasActiveChild(entry) %}
      {% set _ = activeEntries.append(entry) %}
    {% endif %}
    
    <li{% if entry.url == page.url %} class="active-class"{% endif %}
        {% if isParent and activeEntries | length > 0 %} class="parent"{% endif %}>
      <a href="{{ entry.url }}">{{ entry.title }}</a>

      {% if isParent %}
        <ul class="second">
          {% for child in entry.children %}{{ renderNavListItem(child) }}{% endfor %}
        </ul>
      {% endif %}
    </li>
  {%- endmacro %}
  
<ul class="off-canvas-list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>





 
 
 




