<nav class="childlist">
  {% set navPages = collections.all | eleventyNavigation %}
  
  {% macro hasActiveChild(entry) -%}
    {% if entry.url == page.url %}
      {% set active = true %}
    {% endif %}
    {% for child in entry.children %}
      {% if hasActiveChild(child) %}
        {% set active = true %}
      {% endif %}
    {% endfor %}
  {%- endmacro %}
  
  {% macro renderNavListItem(entry) -%}
    {% set isParent = entry.children.length > 0 %}
    {% set active = false %}
    {% if hasActiveChild(entry) %}
      {% set active = true %}
    {% endif %}
    
    <li{% if entry.url == page.url %} class="active-class"{% endif %}
        {% if isParent and active %} class="parent"{% endif %}>
      <a href="{{ entry.url }}">{{ entry.title }}</a>

      {% if isParent %}
        <ul class="second-level">
          {% for child in entry.children %}{{ renderNavListItem(child) }}{% endfor %}
        </ul>
      {% endif %}
    </li>
  {%- endmacro %}
  
  <ul class="main-menu">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>
</nav>
