{% extends "layouts/default.njk" %}



{% block hero %}
<section class="sliderbox hide-for-print">
<div class="herodetail" style="background: url( {{ image }} );" ></div>
</section>
  {% endblock %}

{% block content %} 
 <div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<section role="main" class="content">  
 <div class="grid-2-columns-2x1">
 <div class="detailwrapper"><article>{{ layoutContent | safe }}</article></div>
 <div class="sidebarwrapper"><aside>{% set postslist = collections.services %}
{% include "components/postslist-sidebar.njk" %}</aside></div>
 </div>
</section>
{% endblock %}



