---
layout: layouts/detail.njk
section: post
---




<article>
<div class="item blogdetail">
<div class="blogdetailimage" align="center"><img src="{{ image }}/tr:w-1000,h-600" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">     
{{ layoutContent | safe }}
</div>




 
  
  
    
</div>
</article>