---
layout: layouts/default.njk
section: legal-services
class: services
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.services %}
{% include "components/postslist.njk" %}